ul {
  font-size: 18px;
}

/* selector ke element <a> yang memiliki attr href */
a[href] {
  color: blue;
}

/* selector ke element <a> yang memiliki attr href dan value nya memiliki awalan # */
a[href^="#"] {
  background-color: gold;
}

/* selector ke element <a> yang memiliki attr href dan valuenya mengandung 'example' */
a[href*="example"] {
  background-color: silver;
}

/* selector ke element <a> yang memiliki attr href dan valuenya mengandung 'insensitive', serta mengabaikan kapitalisasinya karena ada i*/
a[href*="insensitive" i] {
  color: cyan;
}

/* selector ke element <a> yang memiliki attr href dan valuenya memiliki akhiran '.org' */
a[href$=".org"] {
  color: red;
}
